.vscode/
kubernetes/apps/flux-notification/sealed-secrets-key.yaml
cert.pem
secret-values
secrets-values
secret.yaml
auth
redis-password
secret-values-postgres
secret-postgres.yaml
cert-postgres.pem
webhook
cloudflare-external-dns
