.vscode/
kubernetes/apps/flux-notification/sealed-secrets-key.yaml
cert.pem
*.pem
secret-values
secrets-values
secret.yaml
secret.redis.yaml
auth
redis-password
redis-secret
secret-values-postgres
secret-postgres.yaml
cert-postgres.pem
webhook
cloudflare-external-dns
cloudflare-lets-encrypt 
nextcloud-secret
alertmanager-secrets
grafana-secret
kubernetes/repos/helm/netbox/netbox-secret
kubernetes/repos/helm/netbox/cert.netbox.pem
kubernetes/repos/helm/netbox/secret.netbox.yaml
postgres-secret
secret.postgres.yaml
