.vscode/
kubernetes/apps/flux-notification/sealed-secrets-key.yaml
cert.pem
secret-values
secrets-values
secret.yaml
auth
redis-password
secret-values-postgres
secret-postgres.yaml
cert-postgres.pem
webhook
cloudflare-external-dns
cloudflare-lets-encrypt 
nextcloud-secret
alertmanager-secrets
grafana-secret
kubernetes/repos/helm/netbox/netbox
kubernetes/repos/helm/netbox/cert.netbox.pem
kubernetes/repos/helm/netbox/secret.netbox.yaml
